<div>
  <h2 id="page-heading" data-cy="ReferentielHeading">
    <span jhiTranslate="migrationApp.referentiel.home.title">Referentiels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="migrationApp.referentiel.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-referentiel"
        [routerLink]="['/referentiel/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="migrationApp.referentiel.home.createLabel">Créer un nouveau Referentiel</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (referentiels?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="migrationApp.referentiel.home.notFound">Aucun Referentiel trouvé</span>
    </div>
  }

  @if (referentiels && referentiels.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="refCode">
              <div class="d-flex">
                <span jhiTranslate="migrationApp.referentiel.refCode">Ref Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="refRadical">
              <div class="d-flex">
                <span jhiTranslate="migrationApp.referentiel.refRadical">Ref Radical</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="refFrTitle">
              <div class="d-flex">
                <span jhiTranslate="migrationApp.referentiel.refFrTitle">Ref Fr Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="refArTitle">
              <div class="d-flex">
                <span jhiTranslate="migrationApp.referentiel.refArTitle">Ref Ar Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="refEnTitle">
              <div class="d-flex">
                <span jhiTranslate="migrationApp.referentiel.refEnTitle">Ref En Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (referentiel of referentiels; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/referentiel', referentiel.id, 'view']">{{ referentiel.id }}</a>
              </td>
              <td>{{ referentiel.refCode }}</td>
              <td>{{ referentiel.refRadical }}</td>
              <td>{{ referentiel.refFrTitle }}</td>
              <td>{{ referentiel.refArTitle }}</td>
              <td>{{ referentiel.refEnTitle }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/referentiel', referentiel.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/referentiel', referentiel.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(referentiel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (referentiels && referentiels.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
