// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';

// /* ==========================================================================
// Navbar
// ========================================================================== */

// .navbar-version {
//   font-size: 0.65em;
//   color: $navbar-dark-color;
// }

// .profile-image {
//   height: 1.75em;
//   width: 1.75em;
// }

// .navbar {
//   padding: 0.2rem 1rem;

//   a.nav-link {
//     font-weight: 400;
//   }
// }

// /* ==========================================================================
// Logo styles
// ========================================================================== */
// .logo-img {
//   height: 45px;
//   width: 45px;
//   display: inline-block;
//   vertical-align: middle;
//   background: url('/content/images/logo-jhipster.png') no-repeat center center;
//   background-size: contain;
// }
// a:hover {
//   --bs-link-color-rgb: ;
// }
// ::ng-deep .menuContclass .p-megamenu-grid {
//   background-image: linear-gradient(to top, #e2e5eb, #98b3f8) !important;

//   //width:fit-content;
// }
// ::ng-deep .menuContclass .p-megamenu-col-6 {
//   // width:fit-content;
//   // min-width: 300px;
// }
// ::ng-deep .menuContclass .p-megamenu-col-6 .p-element {
//   //  width:fit-content;
//   // min-width: 250px;
// }
// ::ng-deep .menuitcc {
// }
// ::ng-deep .Smenuitemclass {
// }
// .navbar {
//   padding: 0.2rem 1rem;

//   a.nav-link {
//     font-weight: 400;
//   }
// }

// /* ==========================================================================
// Logo styles
// ========================================================================== */
// .logo-img {
//   background-size: contain;
// }
// ::ng-deep .menucus ul li:nth-child(1) {
// }
// ::ng-deep .menucus ul li:nth-child(2) {
// }
// ::ng-deep .menucus ul li:nth-child(3) {
// }
// ::ng-deep .menucus ul li:nth-child(4) {
// }
// ::ng-deep .menucus ul li:nth-child(5) {
// }
// ::ng-deep .menucus ul li:nth-child(6) {
// }
// ::ng-deep .menucus ul li:nth-child(7) {
// }
// ::ng-deep .menucus ul li:nth-child(8) {
// }
// ::ng-deep .ui-menu .ui-menuitem .ui-menuitem-link:hover {
//   background-color: #5393bc;
// }
// ::ng-deep .ui-menu,
// .ui-menu .ui-menu-child {
//   border: 0px;
//   background: #5393bc 0 0 repeat-x !important;
// }
// ::ng-deep .ui-menu .ui-menuitem .ui-state-active {
//   background-color: #5393bc;
// }
// ::ng-deep .ui-menu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link,
// .ui-menu .ui-menuitem .ui-menuitem-link:hover {
//   background-color: #186ba0;
// }
